name: Desafio 1 Docker Workflow

on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker Image"
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Pull
        run: docker pull ${{ github.event.inputs.docker_image }}

      - name: List Images
        run: docker images
      
      - name: Check DockerHub secrets (safe)
        run: |
          echo "DOCKERHUB_USERNAME length: ${#DOCKERHUB_USERNAME}"
          echo "DOCKERHUB_PASSWORD length: ${#DOCKERHUB_PASSWORD}"
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Docker Scout
        id: docker-scout
        uses: docker/scout-action@v1
        with:
          command: cves
          image: ${{ github.event.inputs.docker_image }}
